/* Importar la fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Para evitar desplazamiento horizontal no deseado */
}

html {
    scroll-behavior: smooth;
}

/* Aquí definimos las Custom properties */
:root {
    --negro: #0d0d0d;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);
    /* Tipografía */
    --tipo-principal: 'Roboto', sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --negro: #000000;
        --blanco: #bdbdbd;
        --sombra-ppal: #242424;
        --sombra-sec: #3c3c3c;
        --borde-negro: #FFFFFF50;
    }
}

/* General Styles */
body {
    font-family: var(--tipo-principal);
    font-size: 100%;
    line-height: 1.4em;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: var(--blanco);
    color: var(--negro);
    -webkit-hyphens: auto;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    /* Para evitar desplazamiento horizontal no deseado */
}

header,
main,
footer {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    -webkit-hyphens: auto;
    hyphens: auto;
    font-weight: inherit;
    font-size: inherit;
}

h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.1em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
    line-height: 1.6;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

form,
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    display: block;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #000000;
}

.logo {
    max-width: 10rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2.5em;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(196, 61, 61);
    font-size: 1.3rem;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/* Section Styles */
section {
    padding: 30px 0;
    text-align: center;
}

/* Container Styles */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 95%;
    /* Cambiado de 80% a 100% */
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
}

/* Product List Styles */
#product-list .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: top;
    width: 100%;
    margin: 5px;
    padding: 20px;
    border: 1px solid #292929;
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 700px;
}

#product-list .product img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#product-list .product h3 {
    margin-bottom: 20px;
}

#product-list .product p {
    margin-bottom: 15px;
}

#product-list .product button {
    margin-top: auto;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(196, 61, 61);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#product-list .product button:hover {
    background-color: rgb(196, 61, 61);
    color: rgb(194, 192, 192);
}

#product-list .product button:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/* Footer Styles */
footer {
    background-color: #000000;
    color: rgb(196, 61, 61);
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.footer-section {
    flex-basis: 33%;
    margin-bottom: 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(196, 61, 61);
}

.footer-section p,
.footer-section ul {
    font-size: 13px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: rgb(196, 61, 61);
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
}

.footer-section.contact p {
    margin: 5px 0;
}

.footer-section.contact i {
    margin-right: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 991.98px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    #product-list .product {
        min-height: 23.4375em;
    }
}

@media screen and (max-width: 768px) {
    .footer-section {
        flex-basis: 100%;
    }

    #product-list .product {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
        min-height: 19.6875em;
    }

    .nav-list li a {
        font-size: 0.9rem;
    }

    .container2 {
        flex-direction: column;
    }

    .sucursal-info,
    .sucursal-map {
        flex-basis: 100%;
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: rgb(196, 61, 61);
    }

    .cerrar-menu {
        color: rgb(196, 61, 61);
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        padding: 2rem;
        box-shadow: 0 0 0 0vmax rgba(61, 63, 196, 0);
        transition: opacity 0.25s ease, visibility 0.25s ease;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: rgb(196, 61, 61);
        font-size: 0.8rem;
    }

    #product-list .product {
        min-height: 13.4375em;
        flex-basis: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}

/* Sucursal Information and Map Styles */
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sucursal-info,
.sucursal-map {
    flex-basis: 48%;
    margin: 1%;
    box-sizing: border-box;
    border: 3px solid #292929;
}

.sucursal-info {
    padding: 10px;
    border: 3px solid #292929;
}

.sucursal-info h1,
.sucursal-info h2,
.sucursal-info h3,
.sucursal-info p {
    margin: 10px;
}

@media (max-width: 768px) {
    .container2 {
        flex-direction: column;
    }

    .sucursal-info,
    .sucursal-map {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}

/* Carrousel Styles */
.carrousel {
    width: 100%;
    max-width: 120em;
    padding: 1em;
    color: var(--negro);
    border-radius: 0em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    overflow: hidden;
    position: relative;
}

.carrousel .grande {
    width: 700%;
    /* Ajusta el ancho al 700% para las 7 imágenes */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro);
    transition: transform 0.5s ease;
    /* Suaviza la transición entre imágenes */
    border-radius: 0em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    padding: 1em;
}

.carrousel .img {
    width: calc(100% / 7 - 1.7em);
    flex: 0 0 100% / 7;
    min-height: 10vh;
    color: var(--negro);
    transition: all 4s ease;
    border-radius: 0.5em;
    object-fit: cover;
    /* Mantener el aspecto de las imágenes */
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 0.7em;
    height: 0.7em;
    margin: 1em 1em 0;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 0.6em 0.6em 1.1em var(--sombra-ppal), -0.6em -0.6em 1.1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
    background-color: rgb(207, 186, 186);
}

#carrito-icon {
    width: 30px;
    height: auto;
}

.carrito-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#carrito-tabla {
    width: 90%;
}

/* Ajustes en las celdas de la tabla */
#carrito-tabla th,
#carrito-tabla td {
    padding: 5px;
    text-align: left;
}


#carrito-tabla tfoot .total-row td {
    padding-top: 10px;
}

#carrito-resumen {
    margin: 20px 0;
    font-size: 1.2em;
    color: var(--negro);
    text-align: right;
}

.eliminar-producto {
    display: flex;
    width: fit-content;
    
    background-color: #100202; /* Color de fondo rojo */
    color: rgb(196, 61, 61); /* Color del texto */
    border: none; /* Sin borde */
    padding: 8px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.eliminar-producto:hover {
    background-color: #ff1a1a; /* Color de fondo más oscuro al pasar el cursor */
    color: rgb(194, 192, 192);

}

#carrito .eliminar {
    background-color: #100202;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#carrito .eliminar:active {
    transform: translateY(2px);
}

.vaciar-carrito-container {
    margin-top: 20px;
}

#vaciar-carrito {
    display: block;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    color: rgb(196, 61, 61);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1em;
}

#vaciar-carrito:hover {
    background-color: rgb(196, 61, 61);
    color: rgb(194, 192, 192);
}

#vaciar-carrito:active {
    transform: translateY(2px);
}

.container_form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#contact h2 {
    margin-bottom: 20px;
}

#contact p {
    margin-bottom: 20px;
}

#contact form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contact form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(196, 61, 61);
    border: none;
    cursor: pointer;
}

#contact form button:hover {
    background-color: rgb(196, 61, 61);
    color: rgb(194, 192, 192);
}

#contact form button:active {
    transform: translateY(4px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#contact form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}